html[data-theme=nightmode] {
    --theme_default_bg: #1B2B3A;
    --theme_default_postbg: #1E3346;
    --theme_default_postbghighlight: rgb(19 29 40);
    --theme_default_spectext: #e533e5;
    --theme_default_postnum: #789922;
    --theme_default_border: #38444d66;
    --theme_default_text: #ccc;
    --theme_default_alttext: #7d7d7d;
    --theme_default_link: #88c8ff;
    --theme_default_hover: #c6d9e9;
    --theme_default_title: #6995c5;
    --theme_default_drag: rgb(76, 96, 116);
    --theme_default_spoiler: #000000;
    --theme_default_icon: #565656;
    --theme_default_btntext: #ccc;
    --theme_default_btnbg: #192734;
    --theme_default_btnborder: rgb(56, 68, 77);
    --theme_default_altbtnbg: #192734;
    --theme_default_btnbghover: rgb(21, 32, 43);
    --theme_default_altbtnbghover: rgb(21, 32, 43);
    --theme_default_inputtext: #ccc;
    --theme_nmswitch: #88c8ff;
    --theme_mpborder: rgb(13, 20, 27);
    --theme_mubtn: #333d46;
    --theme_sbthumb: #223546;
    --theme_sbtrack: rgb(21, 32, 43);
}
