        /* Применяем фон к body, когда активна темная тема */
        html[data-theme="nightmode"] body {
            background-image: url("/static/img/secondbg.png") !important;
            background-repeat: repeat !important;
            background-attachment: fixed !important; /* Фон остается на месте при скролле */
            background-color: rgb(20, 20, 20); /* Цвет-заглушка, пока грузится картинка */
        }

        html[data-theme="nightmode"] {
            /* Оставляем переменную прозрачной или такой же, чтобы не перекрывала картинку */
--theme_default_bg: rgb(22 30 20);
    --theme_default_postbg: #1b2e16;
    --theme_default_postbghighlight: rgb(19 29 40);
    --theme_default_spectext: #c1e533;
    --theme_default_postnum: #998522;
    --theme_default_border: #122c1c66;
    --theme_default_text: #ccc;
    --theme_default_alttext: #7d7d7d;
    --theme_default_link: #1e8505;
    --theme_default_hover: #588f26;
    --theme_default_title: #158b19;
    --theme_default_drag: rgb(58 84 52);
    --theme_default_spoiler: #000000;
    --theme_default_icon: #254c1b;
    --theme_default_btntext: #ccc;
    --theme_default_btnbg: #193811;
    --theme_default_btnborder: rgb(10 62 17);
    --theme_default_altbtnbg: #1a3214;
    --theme_default_btnbghover: rgb(21, 32, 43);
    --theme_default_altbtnbghover: rgb(21, 32, 43);
    --theme_default_inputtext: #ccc;
    --theme_nmswitch: #88c8ff;
    --theme_mpborder: rgb(13, 20, 27);
    --theme_mubtn: #333d46;
    --theme_sbthumb: #223546;
    --theme_sbtrack: rgb(21, 32, 43);
